@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

body {
    padding: 0;
    margin: 0;
    background: #C9C9C9;
}
.index-3 {
    display: none;
}

.index-4 {
    display: none;
}
.head_bar {
    width: 90%;
    height: 8vh;
    padding: 0 5%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;

}

.head_bar img {
    height: 25px;
    width: auto;
}

.head_bar a {
    height: 25px;
}
.aaarrr {
    display: flex;
    gap: 20px;
}
.info_edit {
    font-size: 12px;
    width: 400px;
    overflow-x: hidden;
}

.info_edit h2 {
    border-bottom: #000000 solid 1px;
    padding-bottom: 10px;
    margin: 5px 0;
    width: 400px;
}

.info_edit h3 {
    width: 350px;
}

.info_edit p {
    margin: 5px 0;
    width: 350px;
}

.gmnoprint {
    display: none;
}

.gm-control-active {
    display: none;
}

select {
    display: flex;
    width: fit-content;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    outline: 0 !important;
    opacity: 0.9;
    font-weight: 500;
    padding: 0 10px;
    box-shadow: 0px 0px 10px 0px #aaaaaa;
}

.button {
    display: flex;
    width: 80px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    outline: 0 !important;
    opacity: 0.9;
    font-weight: 500;
    padding: 0 10px;
    box-shadow: 0px 0px 10px 0px #aaaaaa;
    align-items: center;
    justify-content: center;
}

.cbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    border: none;
    background: #ffffffdd;
    border-radius: 4px;
    padding: 10px;
    align-items: flex-start;
    width: 90%;
}

.cboxsub {
    height: fit-content;
    width: 100%;
}

.googleMap_style {
    width: 100%;
    height: 92vh;
    padding: 0;
    margin: 0;
    right: 0;
}

.index-2 {
    z-index: 2;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #00000033;
    height: 92vh;
    width: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin: 0;
}

.grouplist div {
    background: #ffffffdd;
    border-radius: 5px;
    font-size: 10px;
    height: fit-content;
    margin: 5px 3%;
    padding: 10px 3%;
    width: 88%;
    height: 80px;
    cursor: zoom-in;
}

.grouplist div:hover {
    background: #ffffffff;
}

.grouplist h2,
h3,
h4,
p {
    margin: 0;
}

.grouplist {
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    width: 100%;
}

.grouplist::-webkit-scrollbar {
    display: none;
}

.gm-style :focus {
    outline: 0;
}

@media (max-width:1000px) {
    .head_bar {
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        gap: 5px;
    }

    .head_bar img {
        height: 20px;
        width: auto;
        margin: 2vh 5vw;
    }

    .head_bar a {
        height: 25px;
    }

    .info_edit {
        font-size: 10px;
        width: 225px;
    }

    .info_edit h2 {
        width: 100%;

    }

    .info_edit h3 {
        width: 100%;
    }

    .info_edit p {
        width: 100%;
    }

    select {
        width: 100%;
        height: 40px;
        margin: 2% 0 0 0;
        font-size: 15px;
        border: none;
        border-radius: 4px;
        outline: 0 !important;
        opacity: 0.9;
        font-weight: 500;
        padding: 0 5px;
        bottom: 0;
    }

    select option[value="O"] {
        display: none;
    }

    .index-3 {
        position: fixed;
        z-index: 2;
        display: none;
        top: 0;
        bottom: 0;
        width: 100vw;
        background: #00000022;
    }

    .index-4 {
        position: fixed;
        z-index: 3;
        display: flex;
        width: fit-content;
        height: fit-content;
        background: none;
        font-size: 10px;
        bottom: 5vh;
        right: 2vh;
    }

    .index-2 {
        z-index: 3;
        position: fixed;
        right: 0;
        bottom: 0;
        background: #00000033;
        height: 0vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        margin: 0;
        padding-top: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: 0.2s;
    }

    select {
        display: flex;
        width: 100%;
        height: 20px;
        border: none;
        border-radius: 4px;
        outline: 0 !important;
        opacity: 0.9;
        font-weight: 300;
        padding: 0 10px;
        box-shadow: 0px 0px 5px 0px #bbbbbb;
        font-size: 12px;
    }

    .button {
        display: flex;
        width: 80px;
        height: 20px;
        font-size: 12px;
        border: none;
        border-radius: 4px;
        outline: 0 !important;
        opacity: 0.9;
        font-weight: 300;
        padding: 0 10px;
        box-shadow: 0px 0px 5px 0px #bbbbbb;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
    }

    .cbox {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        border: none;
        background: #ffffffdd;
        border-radius: 4px;
        padding: 10px;
        align-items: flex-start;
        width: 90%;
    }

    .cboxsub {
        height: fit-content;
        width: 100%;
    }

    .googleMap_style {
        position: relative;
        height: 80vh;
    }

    .aaarrr {
        width: 100%;
        height: fit-content;
        display: flex;
        gap: 5px;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
        overflow-x: scroll;
        padding: 1vh 3vw;
    }
        
    .gm-style :focus {
        outline: 0;
    }
}
